body {
  font-weight: 300;
  width: 65pc;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  justify-content: space-between;
  margin-block: 1pc;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

.menuItem {
  padding-inline: 2pc;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 15px;
}

.content {
  margin-inline: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
}

#planktonImg {
  min-width: 100%;
  margin: 0%;
}
#logoImg {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: Georgia;
}

h3 {
  font-weight: 100;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: red;
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
